<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mesto</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>
<body>
  
  <div class="root">
    <header class="header root__section">
      <img src="<%=require('./images/logo.svg')%>" alt="mesto logo" class="logo">
    </header>
    <div class="profile root__section">
      <div class="user-info">
        <input type="hidden" name="userId" value="" id="userId_hidden"/>
        <div class="user-info__photo" formClass="popup_avatar"></div>
        <div class="user-info__data">
          <h1 class="user-info__name"></h1>
          <p class="user-info__job"></p>
          <button class="button user-info__button user-info__button_edit" formClass="popup_edit">Edit</button>
        </div>
        <button class="button user-info__button user-info__button_add" formClass="popup_add">+</button>
        <button class="button user-info__token empty" formClass="popup_token" style="display: none;">+</button>
      </div>
    </div>
    <div class="places-list root__section">

      <!-- Пример вёрстки карточки: -->
<!--
  "<%= require('./images/logo.svg')%>"
      <div class="place-card">
        <div class="place-card__image" style="background-image: url(https://pictures.s3.yandex.net/frontend-developer/cards-compressed/kamchatka.jpg)">
          <button class="place-card__delete-icon"></button>
        </div>
        <div class="place-card__description">
          <h3 class="place-card__name">Камчатка</h3>
          <button class="place-card__like-icon"></button>
          <p class="place-card__likesCount"></p>
        </div>
      </div>
-->
      <!-- конец примера. -->
    </div>
    <div class="popup-block">
      <div class="popup popup_add">
        <div class="popup__content">
          <img src="<%=require('./images/close.svg')%>" alt="" class="popup__close">
          <h3 class="popup__title">Новое место</h3>
          <form class="popup__form" name="new">
              <input type="text" name="name" class="popup__input popup__input_type_name" placeholder="Название">
              <p class="popup__error popup__error_show popup__error_type_name">Должно быть от 2 до 30 символов</p>
              <input type="text" name="link" class="popup__input popup__input_type_link-url" id="linkInput" placeholder="Ссылка на картинку">
              <p class="popup__error popup__error_show popup__error_type_link-url">Здесь должна быть ссылка</p>
              <button type class="button popup__button" id="formAddButton" disabled='true' formClass="popup_add">+</button>
          </form>
        </div>
      </div>
      <div class="popup popup_edit">
        <div class="popup__content">
          <img src="<%=require('./images/close.svg')%>" alt="" class="popup__close">
          <h3 class="popup__title">Редактировать профиль</h3>
          <form class="popup__form" name="edit">
              <input type="text" name="yourName" class="popup__input popup__input_type_name" placeholder="Имя">
              <p class="popup__error popup__error_show popup__error_type_name">Введите имя</p>
              <input type="text" name="about" class="popup__input popup__input_type_about" placeholder="О себе">
              <p class="popup__error popup__error_show popup__error_type_about">Должно быть от 2 до 30 символов</p>
              <button type class="button popup__button input__btn_enable" id="formEditButton" formClass="popup_edit">Сохранить</button>
          </form>
        </div>
      </div>
      <div class="popup popup_avatar">
        <div class="popup__content">
          <img src="<%=require('./images/close.svg')%>" alt="" class="popup__close">
          <h3 class="popup__title">Обновить аватар</h3>
          <form class="popup__form" name="avatar">
              <input type="text" name="link" class="popup__input popup__input_avatar popup__input_type_link-url" placeholder="Ссылка на аватар">
              <p class="popup__error popup__error_show popup__error_type_link-url">Здесь должна быть ссылка</p>
              <button type class="button popup__button input__btn_disable" disabled="true" id="formAvatarButton" formClass="popup_avatar">Сохранить</button>
          </form>
        </div>
      </div>
      <!-- <div class="popup popup_token popup_is-opened">
        <div class="popup__content">
          <img src="<%=require('./images/close.svg')%>" alt="" class="popup__close">
          <h3 class="popup__title">Применить токен</h3>
          <form class="popup__form" name="token">
              <input type="text" name="link" class="popup__input popup__input_token popup__input_type_token" placeholder="Введите токен">
              <p class="popup__error popup__error_show popup__error_type_token">Некорректный токен</p>
              <button type class="button popup__button input__btn_disable" disabled="true" id="formTokenButton" formClass="popup_token">Сохранить</button>
          </form>
        </div>
      </div> -->
    </div>
    <div class="zoom-section zoom-section__close" >
      <div class="zoom-section__image-place">
        <img src="<%=require('./images/close.svg')%>" alt="" class="zoom-section__close-button">
        <img src="https://pictures.s3.yandex.net/frontend-developer/cards-compressed/kamchatka.jpg" alt="" class="zoom-section__image">
      </div>
    </div>
  </div>
  
</div>

<div id="fountainG">
	<div id="fountainG_1" class="fountainG"></div>
	<div id="fountainG_2" class="fountainG"></div>
	<div id="fountainG_3" class="fountainG"></div>
	<div id="fountainG_4" class="fountainG"></div>
	<div id="fountainG_5" class="fountainG"></div>
	<div id="fountainG_6" class="fountainG"></div>
	<div id="fountainG_7" class="fountainG"></div>
	<div id="fountainG_8" class="fountainG"></div>
</div>

</body>
<script src="<%= htmlWebpackPlugin.files.js %>"></script>
<script type="module" src="./scripts/FormValidator.js"></script>
<script type="module" src="./scripts/Card.js"></script>
<script type="module" src="./scripts/CardList.js"></script>
<script type="module" src="./scripts/Popup.js"></script>
<script type="module" src="./scripts/CardPopup.js"></script>
<script type="module" src="./scripts/Avatar.js"></script>
<script type="module" src="./scripts/UserInfo.js"></script>
<script type="module" src="./scripts/Api.js"></script>



</html>
