
button.user-info__button_edit{
    position: relative;
    margin-top: 12px;
    width: 38px;
    height: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 980px) {
    button.user-info__button_edit {
            position: static;
            margin-left: calc(100%/2 - 15px);
}
}
